<!--(c) adarsh-goel-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive.google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.7/plyr.css" />
    
</head>

<body>
    <header>
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>


<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>

<script>
    var myFP = fluidPlayer(
        'video-id', {
 "layoutControls": {
  "controlBar": {
   "autoHideTimeout": 3,
   "animated": true,
   "autoHide": true,
   "playbackRates": [
    "x2",
    "x1.5",
    "x1",
    "x0.5"
   ]
  },
  "htmlOnPauseBlock": {
   "html": null,
   "height": null,
   "width": null
  },
  "autoPlay": false,
  "mute": true,
  "allowTheatre": true,
  "playPauseAnimation": true,
  "playbackRateEnabled": true,
  "allowDownload": true,
  "playButtonShowing": true,
  "fillToContainer": false,
  "posterImage": "https://i.ibb.co/FngrKtw/IMG-20221103-154004-038.jpg"
 },
 "vastOptions": {
  "adList": [
   {
    "roll": "preRoll",
    "vastTag": "Https://acceptable.a-ads.com/2188456",
    "adText": ""
   },
   {
    "roll": "midRoll",
    "vastTag": "Https://acceptable.a-ads.com/2188456",
    "adText": ""
   },
   {
    "roll": "postRoll",
    "vastTag": "Https://acceptable.a-ads.com/2188456",
    "adText": ""
   },
   {
    "roll": "onPauseRoll",
    "vastTag": "Https://acceptable.a-ads.com/2188456",
    "adText": ""
   }
  ],
  "adCTAText": false,
  "adCTATextPosition": ""
 }
})
</script>
</body>
</html>
